/* ==========================================================================
   Root
========================================================================== */

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 100%;
  min-height: 12rem;
}


/* ==========================================================================
   Icon
========================================================================== */

.icon {
  width: 1.125rem;
  height: 1.125rem;

  flex-shrink: 0;

  color: var(--muted-foreground);

  animation:
    loader-spin
    0.8s
    linear
    infinite;
}


/* ==========================================================================
   Label
========================================================================== */

.label {
  color: var(--muted-foreground);

  font-size: 0.875rem;
  line-height: 1.5;
}


/* ==========================================================================
   Animation
========================================================================== */

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}