/* ==========================================================================
   Root
========================================================================== */

.root {
  position:
    relative;

  width:
    100%;

  height:
    100%;

  container-type:
    inline-size;

  overflow:
    hidden;

  background:
    var(--album-background);

  --album-design-font-size:
    4px;
}