/* ==========================================================================
   Root
========================================================================== */

.root {
  position:
    relative;

  width:
    100%;
  height:
    100%;

  overflow:
    hidden;

  background:
    var(--background);
}


/* ==========================================================================
   Empty
========================================================================== */

.empty {
  width:
    100%;
  height:
    100%;

  background:
    var(--muted);
}