/* ==========================================================================
   Photo Wall Gallery
========================================================================== */

.photo-wall-gallery {

  width:
    100%;

  margin:
    0;

  padding:
    0;

  column-count:
    3;

  column-gap:
    16px;

  list-style:
    none;

}


/* ==========================================================================
   Item
========================================================================== */

.photo-wall-gallery__item {

  width:
    100%;

  margin:
    0 0 16px;

  break-inside:
    avoid;

}


/* ==========================================================================
   Mobile
========================================================================== */

@media (max-width: 767px) {

  .photo-wall-gallery {

    column-count:
      2;

    column-gap:
      8px;

  }

  .photo-wall-gallery__item {

    margin-bottom:
      8px;

  }

}