.inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-width: 0;
  min-height: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 48px;

  width: 100%;
  min-width: 0;
  height: 48px;
}

.document {
  display: flex;
  justify-content: center;

  width: min(100%, 520px);
  min-width: 0;
}