/* ==========================================================================
   Invitation Variants
========================================================================== */


/* ==========================================================================
   Champagne
========================================================================== */

[data-invitation-experience][data-variant="champagne"] {

  /* ========================================================================
     Invitation
  ======================================================================== */

  --invitation-experience-background:
    #97907f;

  --invitation-card-background:
    #f7f2ea;


  /* ========================================================================
     Colors
  ======================================================================== */

  --flora-foreground:
    #493729;

  --flora-muted:
    #4d2f1d;


  /* ========================================================================
     Envelope
  ======================================================================== */

  --invitation-envelope-back-filter:
    none;

  --invitation-envelope-front-filter:
    none;

  --invitation-envelope-flap-filter:
    none;

  --invitation-envelope-liner-filter:
    none;


  /* ========================================================================
     Frame
  ======================================================================== */

  --flora-frame-filter:
    hue-rotate(120deg);

  --flora-frame-opacity:
    1;

  --flora-frame-blend-mode:
    normal;
}


/* ==========================================================================
   Sage
========================================================================== */

[data-invitation-experience][data-variant="sage"] {

  /* ========================================================================
     Invitation
  ======================================================================== */

  --invitation-experience-background:
    #e8ebe5;

  --invitation-card-background:
    #eef0e8;


  /* ========================================================================
     Colors
  ======================================================================== */

  --flora-foreground:
    #354036;

  --flora-muted:
    #697269;


  /* ========================================================================
     Envelope
  ======================================================================== */

  --invitation-envelope-back-filter:
    none;

  --invitation-envelope-front-filter:
    none;

  --invitation-envelope-flap-filter:
    none;

  --invitation-envelope-liner-filter:
    none;


  /* ========================================================================
     Frame
  ======================================================================== */

  --flora-frame-filter:
    none;

  --flora-frame-opacity:
    1;

  --flora-frame-blend-mode:
    normal;
}


/* ==========================================================================
   Rose
========================================================================== */

[data-invitation-experience][data-variant="rose"] {

  /* ========================================================================
     Invitation
  ======================================================================== */

  --invitation-experience-background:
    #eee7e5;

  --invitation-card-background:
    #f4e8e5;


  /* ========================================================================
     Colors
  ======================================================================== */

  --flora-foreground:
    #5b3e3e;

  --flora-muted:
    #876b6b;


  /* ========================================================================
     Envelope
  ======================================================================== */

  --invitation-envelope-back-filter:
    hue-rotate(120deg);

  --invitation-envelope-front-filter:
    hue-rotate(120deg);

  --invitation-envelope-flap-filter:
    hue-rotate(120deg);

  --invitation-envelope-liner-filter:
    hue-rotate(120deg);


  /* ========================================================================
     Frame
  ======================================================================== */

  --flora-frame-filter:
    none;

  --flora-frame-opacity:
    1;

  --flora-frame-blend-mode:
    normal;
}