/* ==========================================================================
   Page
========================================================================== */

.page {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background:
    #fffdf8;

  color:
    #29251f;

  box-shadow:
    inset 0 0 2rem
    rgba(55, 43, 30, 0.04);
}


/* ==========================================================================
   Content
========================================================================== */
/* ==========================================================================
   Content
========================================================================== */

.content {
  position: relative;

  width: 100%;
  height: 100%;

  font-size:
    var(
      --album-design-font-size,
      16px
    );
}