/* ==========================================================================
   Event Invitations List
========================================================================== */

.root {
  display: grid;
  gap: 1.25rem;

  width: 100%;
}


/* ==========================================================================
   Responsive
========================================================================== */

@media (max-width: 767px) {
  .root {
    gap: 1rem;
  }
}