/* ==========================================================================
   Inner
========================================================================== */

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 2rem;
}

/* ==========================================================================
   Document
========================================================================== */

.document {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
}

/* ==========================================================================
   Desktop
========================================================================== */

/* ==========================================================================
   Mobile
========================================================================== */

@media (max-width: 767px) {
  .inner {
    padding: 0.5rem 0;
  }
}
