/* ==========================================================================
   Digital Album Classic Theme
========================================================================== */

[data-album-theme="classic"] {
  --album-paper: #f1e9e9;
  --album-ink: #342e29;
  --album-muted-ink: #6b6159;

  --album-type-cover-title: 10cqw;
  --album-type-cover-subtitle: 5.5cqw;
  --album-type-quote-text: 6.5cqw;

  --album-title-font: var(--font-allura);
  --album-body-font: var(--font-marcellus);
  --album-script-font: var(--font-allura);


  /* ==========================================================================
     Background Images
  ========================================================================== */

  --album-collage-background-image:
    url("/digital-albums/themes/classic/collage-background.png");

  --album-editorial-background-image:
    url("/digital-albums/themes/classic/editorial-background.png");

  --album-story-background-image:
    url("/digital-albums/themes/classic/story-background.avif");


}
