/* ==========================================================================
   Digital Album Classic Theme
========================================================================== */

[data-album-theme="classic"] {
  --album-paper:
    #f1e9e9;

  --album-ink:
    #342e29;

  --album-muted-ink:
    #77796c;


  /* ==========================================================================
     Background Images
  ========================================================================== */

  --album-collage-background-image:
    url("/digital-albums/themes/classic/collage-background.png");

  --album-editorial-background-image:
    url("/digital-albums/themes/classic/editorial-background.png");

  --album-story-background-image:
    url("/digital-albums/themes/classic/story-background.avif");


  /* ==========================================================================
     Typography
  ========================================================================== */

  --album-title-font:
    var(--font-marcellus);

  --album-body-font:
    var(--font-marcellus);

  --album-script-font:
    var(--font-allura);
}