.form {
  display: flex;
  flex-direction: column;

  gap: 1.25rem;
}


.link {
  color: var(--primary);

  font-size: 0.875rem;
  font-weight: 500;

  text-decoration: none;

  transition:
    color 0.2s ease,
    opacity 0.2s ease;
}


.link:hover {
  opacity: 0.8;
}