/* ==========================================================================
   Invitation Description
========================================================================== */

.invitation-description {
  --invitation-element-font-size:
    var(--invitation-description-size);

  width:
    var(--invitation-description-width);

  max-width:
    var(--invitation-description-max-width);

  margin:
    var(--invitation-description-margin-top)
    0
    0;

  font-family:
    var(--invitation-description-font);

  font-size:
    var(--invitation-element-font-size);

  font-style:
    var(--invitation-description-style);

  font-weight:
    var(--invitation-description-weight);

  line-height:
    var(--invitation-description-line-height);

  letter-spacing:
    var(--invitation-description-letter-spacing);

  color:
    var(--invitation-description-color);

  text-align:
    var(--invitation-description-text-align);

  text-transform:
    var(--invitation-description-text-transform);

  white-space:
    pre-line;

  opacity:
    var(--invitation-description-opacity);
}