.wrapper {
  position: relative;
}


.wrapper input {
  padding-right: 3rem;
}


.toggle {
  position: absolute;

  top: 50%;
  right: 0.5rem;

  width: 2rem;
  height: 2rem;

  transform: translateY(-50%);
}


.toggle:hover {
  transform: translateY(-50%);
}


.toggle:active {
  transform:
    translateY(-50%)
    scale(0.98);
}